name: Automate Package Generation

on: 
  push:
    branches: 
      - 'main'
  workflow_dispatch:

jobs: 
  Generate-Package:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: "14"
      
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          ref: ${{github.ref}}
          fetch-depth: 0
     
      - name: Install Salesforce CLI
        run: >        
          wget
          https://developer.salesforce.com/media/salesforce-cli/sfdx/channels/stable/sfdx-linux-x64.tar.xz

          mkdir ~/sfdx

          tar xJf sfdx-linux-x64.tar.xz -C ~/sfdx --strip-components 1

          echo "$HOME/sfdx/bin" >> $GITHUB_PATH

          ~/sfdx/bin/sfdx version

      - name: Install jq
        run: |
          sudo apt-get install jq
           
      - name: Populate auth file
        shell: bash
        run: 'echo ${{ secrets.SFDX_AUTH_URL }} > ./DEVHUB_SFDX_URL.txt'
  
      - name: Authenticate Dev Hub
        run: 'sfdx force:auth:sfdxurl:store -f ./DEVHUB_SFDX_URL.txt -a devhub -d'

      - name: Check if package with same name exists
        id: package-finder
        run: |
          sfdx force:package:list -v "${{ vars.SALESFORCE_USERNAME }}" --verbose --json > response.json          
          package_found=$(jq '.result | map(. | select(.Name=="${{ vars.PACKAGE_NAME }}"))' < response.json  | head )
          "echo '$package_found' > result.json"
          echo result.json
          
          
          echo "PACKAGE_EXISTS='$package_found'" >> "$GITHUB_OUTPUT"
          
      - name: Create Package
        run: |
          echo ${{ steps.package-finder.outputs.PACKAGE_EXISTS}}
           sf package create --name "${{ vars.PACKAGE_NAME }}" --package-type Unlocked --path force-app --no-namespace --target-dev-hub devhub  
            
      - name: Create package Version
        run: sf package version create --package "${{ vars.PACKAGE_NAME }}" --installation-key ${{ vars.UNLOCKED_PACKAGE_PASSWORD }} --wait 10 --target-dev-hub devhub

      - name: Update sfdx-project.json
        run: |
          git config user.name "release[bot]"
          git config user.email "<>"
          git add sfdx-project.json
          git commit -m "Updating new package version"
          git push
        
      
        
